{% extends "index.html" %}
{% block content %}
    <DIV ID="selMark">
        <DIV CLASS="close">
            <A HREF="#"><IMG SRC="/media/icons/close.png" ALIGN="absmiddle"></A>
        </DIV>
        <A CLASS="mark_2" MARK="2" HREF="#">2 ( не о чем )</A>
        <A CLASS="mark_3" MARK="3" HREF="#">3 ( ладно, пойдет )</A>
        <A CLASS="mark_4" MARK="4" HREF="#">4 ( нормально )</A>
        <A CLASS="mark_5" MARK="5" HREF="#">5 ( круто )</A>
        <A CLASS="mark_0" MARK="0" HREF="#">clear <IMG SRC="/media/icons/clear.png" ALIGN="absmiddle"></A>
    </DIV>

    <table id="mark">
        <tr>
            <th>#</th>
            <th class = "name">
                ФИО
                <a id="add_stud" href="#">
                    <img src="/media/icons/add.png" style="padding-left: 25px;"/>
                </a>

                <div id="newStud">
                    <div class="close">
                        <a href="#"><img src="/media/icons/close.png" align="absmiddle"></a>
                    </div>
                    <INPUT TYPE="text" NAME="l_name"> Фамилия<BR>
                    <INPUT TYPE="text" NAME="f_name"> Имя<BR>
                    <INPUT TYPE="text" NAME="s_name"> Отчество<BR>
                    <A CLASS="add" HREF="#">
                        <IMG SRC="/media/icons/add.png" ALIGN="absmiddle">
                    </A>
                </DIV>

            </th>
            {% for lab in labs %}
                <th class="mark">{{ lab.pk }}</th>
            {% endfor %}
        </tr>
        {% for student in students %}
            <tr id = "st_{{ student.pk }}">
                <td>{{ student.pk }}</td>
                <td class="name" id="stud_{{ id_stud }}">{{ student }} <a class="del" stud_id="{{ student.id }}" href='#'><img src="/media/icons/delete.png"></a></td>

                {% for lab in labs %}
                    <td class="mark" id="{{ student.id }}_{{ lab.id }}" s="{{ student.id }}" l="{{ lab.id }}">{% if lab.get_mark in student.get_marks %}{{ lab.get_mark }}{% endif %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


    <table id="labs">
    <tr>
        <th>#</th>
        <th class="name">Лабораторная работа</th>
    </tr>
    {% for l in labs %}
        <tr id="{{ l.pos }}">
            <td>{{ l.pos }}</td>
            <td class="name">{{ l.name }}</td>
        </TR>
    {% endfor %}
    </table>

{% endblock %}