{% extends "index.html" %}
{% block content %}
    <DIV ID="selMark">
        <DIV CLASS="close">
            <A HREF="#"><IMG SRC="/media/icons/close.png" ALIGN="absmiddle"></A>
        </DIV>
        <A CLASS="mark_2" MARK="2" HREF="#">2 ( не о чем )</A>
        <A CLASS="mark_3" MARK="3" HREF="#">3 ( ладно, пойдет )</A>
        <A CLASS="mark_4" MARK="4" HREF="#">4 ( нормально )</A>
        <A CLASS="mark_5" MARK="5" HREF="#">5 ( круто )</A>
        <A CLASS="mark_0" MARK="0" HREF="#">clear <IMG SRC="/media/icons/clear.png" ALIGN="absmiddle"></A>
    </DIV>

    <table id="labs">
    <tr>
        <th>#</th>
        <th class="name">Лабораторная работа</th>
    </tr>
    {% for l in labs %}
        <tr id="{{ l.pos }}">
            <td>{{ l.pos }}</td>
            <td class="name">{{ l.name }}</td>
        </TR>
    {% endfor %}
    </table>


    <table id = "mark">
        <tr>
            <th>ФИО</th>
            {% for lab in labs %}
                <th class="mark">{{ forloop.counter }}</th>
            {% endfor %}
        </tr>

        {% for student in students %}
            <tr id = "st_{{ student.pk }}">
                <td class="name" id="stud_{{ student.id }}">{{ student }}</td>

                    {% for lab in labs %}
                        <td class="mark" id="{{ student.id }}_{{ lab.id }}" s="{{ student.id }}" l="{{ lab.id }}">
                        {% for mark in lab.assesments.all %}
                            {% if lab.id == mark.lab_id and student.id == mark.student_id %}
                                {{ mark.mark }}
                            {% endif %}
                        {% endfor %}
                        </td>
                    {% endfor %}
            </tr>
        {% endfor %}
    </table>






{% endblock %}