{% extends "index.html" %}
{% block content %}
    <div id="selMark">
        <div class="close">
            <a href="#"><img src="/media/icons/close.png" align="absmiddle"></a>
        </div>
        <a class="mark_2" mark="2" href="#">2 (не о чем)</a>
        <a class="mark_3" mark="3" href="#">3 (так се)</a>
        <a class="mark_4" mark="4" href="#">4 (нормально)</a>
        <a class="mark_5" mark="5" href="#">5 (круто)</a>
        <a class="mark_0" mark="0" href="#">clear <img src="/media/icons/clear.png" align="absmiddle"></a>
    </div>


    <table id = "mark">
        <tr>
            <th class="notHide">
                ФИО
                <a id="add_stud" href="#"><img src="/media/icons/add.png" style="padding-left: 25px;"/></a>
                <div id="newStud">
                    <div class="close">
                        <a href="#"><img src="/media/icons/close.png" align="absmiddle"></a>
                    </div>
                    {{ form_student.as_p }}
                    <a class="add_student" href="#">
                        <img src="/media/icons/add.png" align="absmiddle">
                    </a>
                </div>
            </th>
            {% for lab in labs %}
                <th class="mark" l="{{ lab.id }}">{{ forloop.counter }}</th>
            {% endfor %}
        </tr>

        {% for student in students %}
            <tr id = "st_{{ student.pk }}">
                <td class="name notHide" id="stud_{{ student.id }}">{{ student }}</td>
                    {% for lab in labs %}
                        <td class="mark lab_{{ lab.id }}" id="{{ student.id }}_{{ lab.id }}" s="{{ student.id }}" l="{{ lab.id }}">
                        {% for mark in lab.assessments.all %}
                            {% if lab.id == mark.lab_id and student.id == mark.student_id %}
                                {{ mark.mark }}
                            {% endif %}
                        {% endfor %}
                        </td>
                    {% endfor %}
            </tr>
        {% endfor %}
    </table>


    <table id="labs">
    <tr>
        <th>#</th>
        <th class="name">
            Лабораторная работа
            <a id="add" href="#"><img src="/media/icons/add.png" style="padding-left: 25px;"/></a>
            <div>
                <div class="close">
                    <a href="#"><img src="/media/icons/close.png" align="absmiddle"></a>
                </div>
                {{ form_lab.as_p }}
                <a class="add_lab" href="#">
                    <img src="/media/icons/add.png" align="absmiddle">
                </a>
            </div>

        </th>
    </tr>
    {% for lab in labs %}
        <tr id="{{ lab.id }}">
            <td>{{ lab.id }}</td>
            <td class="lab" l="{{ lab.id }}">{{ lab.name }}</td>
        </tr>
    {% endfor %}
    </table>




{% endblock %}